body {
  background-color: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6c5ce7;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;
  color: #6c5ce7;
  margin: 0 10px;
  display: inline-block;
}

nav button:hover {
  background-color: #6c5ce7;
  color: #fff;
  cursor: pointer;
}

.pet-list {
  max-width: 800px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pet-list h2 {
  margin-bottom: 20px;
  color: #6c5ce7;
}

.pet-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pet-list li {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pet-list li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pet-list li h3 {
  margin: 0;
  font-size: 1.2em;
  color: #6c5ce7;
}

.pet-list li p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #444;
}
